<div>
    <h2>Sign in</h2>
    <form (ngSubmit)="auth()">
        <!-- TODO - Rewrite -->
        <div class="form-group" *ngIf="hasError">
            <label class="alert alert-danger">{{errorMessage}}</label>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="E-mail address" [(ngModel)]="username" name="username" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" />
        </div>
        <div class="form-group" style="text-align: right;">
            <button class="btn btn-primary" type="submit" [disabled]="validate()">Sign in</button>
        </div>
    </form>
</div>
