<div>
  <h4>Customers</h4>
  <div class="float-right">
    <button class="btn btn-success" (click)="createCustomer()">+</button>
  </div>
  <table class="table table-striped" *ngIf="!createMode; else create">
    <thead>
      <tr>
        <th><b>E-mail address</b></th>
        <th><b>Name</b></th>
        <th><b>Gender</b></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{customer.emailAddress}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.gender}}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #create>
  <div class="container">
    <h2>New customer</h2>
    <hr />

    <div class="form-group">
      <input class="form-control" type="email" [(ngModel)]="customer.emailAddress" placeholder="E-mail address" />
    </div>

    <div class="form-group">
      <input class="form-control" type="text" [(ngModel)]="customer.name" placeholder="Name" />
    </div>

    <div class="form-group">
      <select class="form-control" [(ngModel)]="customer.gender">
        <option selected="selected" ng-value="Female">Female</option>
        <option ng-value="Male">Male</option>
      </select>
    </div>

    <div class="form-group">
      <button class="btn btn-success" (click)="submit()">Create</button>
      <button class="btn btn-warning" (click)="cancel()">Cancel</button>
    </div>
  </div>
</ng-template>
